
<div class="container"   fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
    <div class="p" fxFlex="67%" >
        
      
      <div class="pp" fxLayout="column" fxLayoutWrap >
        <div class="pp1" fxFlex="10%">
            <app-dashboard></app-dashboard>
        </div>
        <div class="pp2" fxFlex="90%" fxLayoutWrap>
            <app-tournaments></app-tournaments>
        </div>
      </div>
      
    </div>
    
    <div class="q" fxFlex="30%">

        <div class="qq" fxLayout="column" fxLayoutWrap fxLayoutGap=".3%">
            <div class="qq1" fxFlex="60%">
              <app-sign-in></app-sign-in>
                
            </div>
            <div class="qq2" fxFlex="40%" fxLayoutWrap>
                 <app-sign-up></app-sign-up>
                
            </div>

          </div>
    </div>
</div>
  