
  .container{
    
    margin-top: .5em;
      
      background-color: rgb(240, 248, 248)
  }
  .p{
      background-color: rgb(226, 224, 241)
  }
  .q{
      background-color:rgb(226, 224, 241)
  }
  
  
 

 